/* src/Components/Home.css */
.home {
    padding: 60px 20px; /* Adjust padding if needed */
    color: white; /* Text color */
    text-align: center; /* Center text */
  }
  
  .home-container {
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    display: inline-block; /* Fit content width */
  }
  