/* src/Components/Home.css */
.home {
  color: white; /* Text color */
  text-align: center; /* Center text */
  margin-top: 100px; /* Space below the Navbar */
}

.home-container {
  padding: 100px;
  border-radius: 10px; /* Rounded corners */
  display: inline-block; /* Fit content width */
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent black background for readability */
}

.profile-image {
  width: 300px; /* Adjust size as needed */
  height: 350px; /* Maintain aspect ratio */
  border-radius: 10%; /* Circular image */
  margin-bottom: 20px; /* Space below the image */
}
