html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #ffffff;
  line-height: 1.6;
  background: url('piksor/yippie.gif') no-repeat center center fixed;
  background-size: cover;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Navbar {
  position: fixed; /* Ensure the Navbar is fixed */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it’s above other content */
}

.Home {
  padding: 50px 20px;
  padding-top: 120px; /* Adds space below the Navbar */
}

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates 2 columns */
  grid-template-rows: repeat(2, auto); /* Creates 2 rows with auto height */
  gap: 20px; /* Space between grid items */
  padding: 50px 20px;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
  color: #ffffff; /* White text color for contrast */
  border-radius: 10px; /* Optional: rounded corners */
  margin-top: 30px; /* Space below Home component */
}

.grid-item {
  padding: 20px;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
  color: #ffffff; /* White text color for contrast */
  border-radius: 10px; /* Optional: rounded corners */
}

/* Ensure text content is above the overlay */
.grid-item > * {
  position: relative;
  z-index: 2; /* Ensure content is above the overlay */
}

.Navbar ul {
  list-style: none;
  padding: 0;
}

.Navbar li {
  display: inline;
  margin-right: 20px;
}

.btn {
  background: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .Navbar ul {
    flex-direction: column;
  }

  .Navbar li {
    margin: 10px 0;
  }
}
